extends layout

block content
  body
    h1 Jedi Message Board
    a(href="/new") Add New Message ! 
    each message in messages
      div(class = "messageType")
        h3 #{message.text} - #{message.user}
        h4 #{message.added.toLocaleTimeString()} - #{message.added.getDate()}/#{message.added.getMonth()}/#{message.added.getFullYear()} 
  